<% 
  cases = {
    'gen' => {:name => 'Родительный', :desc => "нет - кого, чего?" },
    'dat' => {:name => 'Дательный', :desc => "рад - кому, чему?" },
    'acc' => {:name => 'Винительный', :desc => "виню - кого, что?" },
    'ins' => {:name => 'Творительный', :desc => "горжусь - кем, чем?" },
    'pre' => {:name => 'Предложный', :desc => "думаю - о ком, о чем?" },
    'pos' => {:name => 'Притяжателный', :desc => "чей?" }
  }
  case_keys = ['gen', 'dat', 'acc', 'ins', 'pre', 'pos'] 
%>

<style>
td {
  padding: 3px;
}

.header_row {
  
}

.header_row td {
  font-weight: bold;
}

#change_counter {
  font-size: 10px;
  color: #888;
}

.name_row {
  background-color: white;
}

.name_row:hover {
  background-color: #eee;
}

</style>

<script>
var change_counter = 0;
function fieldChanged(field) {
  field.style.border='1px solid red';
  change_counter++;
  $("#change_counter").text(change_counter + (change_counter == 1 ? " change" : " changes"));
  $("#change_counter").css('color', 'red');
}
</script>

<div class="container page">
  <div class="page size1of1 mha ptl mbxl">
    <div class="shadowBox whiteBkgd pal mtl txtL" style="min-height:300px;">
      <%= form_tag do %>        
        <div style="padding-bottom:10px;">
          <div style="float:right">
            <span id="change_counter">0 changes</span>
            <%= button_tag("Save Changes", :style=>"padding:5px") %>
          </div>
          <h2>Склонения Имен</h2>
        </div>
        <table>
          <tr class='header_row'>
            <td>Именительный</td>
            <td>Пол</td>
            <% case_keys.each do |key| %>
              <td>
                <%= cases[key][:name] %>
                <div style="color:#888;font-size:10px;font-weight:normal"><%= cases[key][:desc] %></div>
              </td>
            <% end %>  
          </tr>
          <% @names.keys.sort.each do |name| %>
            <tr class="name_row">
              <td>
                <%=name%>
              </td>
              <td>
                <%=select_tag("names[#{name}][gender]", options_for_select(['male', 'female'], @names[name]['gender']), :style => "width:100px;", :onChange => "fieldChanged(this)") %>
              </td>
              <% case_keys.each do |cs| %>
                <%  
                  value = @names[name][cs] 
                  value = @names[name]['nom'] if value.blank?
                  border = (value == name ? "1px solid #eee" : "1px solid green")
                %>
                <td>
                  <%=text_field_tag("names[#{name}][#{cs.to_sym}]", value, :style => "width:100px;border:#{border}", :onChange => "fieldChanged(this)") %>
                </td>
              <% end %>  
            </tr>
          <% end %>
        </table>
      <% end %>  
    </div>
  </div>        
</div>
