  <div class="container page">
    <div class="page size1of1 mha ptl mbxl">
      <div class="shadowBox whiteBkgd pal mtl txtL" style="min-height:300px;">

        <h3>General</h3>
         <% current_user.gender = "female" %>  

        <div style="padding:30px;">
          <%= tr("{actor| Registered on}", nil, :actor => current_user, :target => current_user, :count => 5) %><br><br>

          <%= tr("{actor} sent {target} a {count||gift}.", nil, :actor => current_user, :target => current_user, :count => 5) %><br><br>

        </div>

        <h3>Numeric Rules</h3>
        <div style="padding:30px;">
         <%=tr("{count | message}", nil, :count => 10) %> <br><br>

         <%=tr("{count | person, people}", nil, :count => 10) %> <br><br>
         
         <%=tr("{count | one: person, many: people, other: lots of people}", nil, :count =>10 ) %> <br><br>

         <%=tr("You have {count|| message} in your mailbox.", nil, :count =>10 ) %> <br><br>
         
         <%=tr("You have {count|| one: message, many: messages} in your mailbox.", nil, :count =>10 ) %> <br><br>

         <%=tr("У вас есть {count|| one: сообщение, few: сообщения, many: сообщений}", nil, {:count =>1}, {:locale => "ru"} ) %> <br><br>
        </div>


        <h3>Gender Rules</h3>
        <div style="padding:30px;">

         <% current_user.gender = "male" %>  

         <%=tr("{user | registered on}", nil, :user => current_user) %> <br><br>

         <%=tr("{user | he, she}", nil, :user => current_user) %> <br><br>

         <%=tr("{user | he, she, he/she}", nil, :user => current_user) %> <br><br>

         <%=tr("{user | male: he, female: she, other: he/she}", nil, :user => current_user) %> <br><br>

         <%=tr("{user | female: she, other: he}", nil, :user => current_user) %> <br><br>

         <%=tr("{user} joined {user| his, her} friends", nil, :user => current_user) %> <br><br>

         <%=tr("{user} joined {user| male: his, female: her, other: his/her} friends.", nil, :user => current_user) %> <br><br>

         <%=tr("{user|| male: присоединился, female: присоединилась, other: присоединился/лась} к своим друзьям.", nil, {:user => current_user}, {:locale => "ru"}) %> <br><br>

        </div>

        <h3>Date Rules</h3>
        <div style="padding:30px;">
         
         <%= tr("This event {date| past: took place, present: is taking place, future: will take place} on {date}.", nil, {:date => Date.tomorrow}) %><br><br>
         
         <%= tr("Это событие {date| past: произошло в, present: происходит в, future: произойдет в} {date::gen}.", nil, {:date => [Date.yesterday, Date.yesterday.tr(:verbose)]}, {:locale => "ru"}) %><br><br>

        </div>


        <h3>List Rules</h3>
        <div style="padding:30px;">
         <%= tr("{actors:gender_list|| one: likes, other: like} this story", nil, :actors => [[current_user], [:name], {:andor => 'and'}]) %><br><br>

         <div dir="rtl">
           <%= tr("{actors:gender_list|| one_male: אוהב, one_female: אוהבת, all_female: אוהבות, other: אוהבים} את הסיפור הזה  ", nil, {:actors => [[current_user], [:name], {:andor => 'and'}]}, :locale => 'he') %>
         </div>

        </div>

      </div>
    </div>        
  </div>
