<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/home">
        <span class="h3" style="color:white">tr8n</span>
      </a>
         
      <ul class="nav">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=tr("Examples")%> <b class="caret"></b></a>
            <div class="dropdown-menu app-selector">
              <div class="apps">
                <% [
                      ["Basic translations", "basic"]

                    ].each do |link| %>          
                  <%= link_to("/examples/#{link.last}",{:class => ("yellowBkgd" if link.last == controller.action_name)}) do %>
                    <div class="media pas" style="margin-top:5px;">
                      <div class="bd" style="padding-top:5px;height:25px;">
                        <h5><%= link.first %></h5>
                        <div class="txtSmall xquiet" style="font-size:8px;padding-top:2px;">
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>  
            </div>
          </li>      
        <% end %>
      </ul>
      
      <ul class="nav pull-right">
        <% if current_user %>
          <li>
            <a href="#" onClick="Tr8n.UI.LanguageSelector.show(true)" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag(Tr8nClientSdk::Config.url_for("/assets/tr8n/flags/#{language.flag}.png"), :style => "align:middle") %>
              &nbsp; 
              <%= language.native_name %>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%=image_tag(current_user.mugshot(:square), :style=>"max-width:16px;max-height:16px;padding:1px;border:1px solid #888;") %> &nbsp;
              <%=current_user.name %>
             <b class="caret"></b></a>
            <ul class="dropdown-menu pas">
              <li><%= link_to tr("Edit Account"), "/account" %></li>
              <li><%= link_to_function tr("Change Language"), "Tr8n.UI.LanguageSelector.show(true)" %></li>
              <li class="divider"></li>
              <li><%=link_to(tr("Logout"), "/login/out")%></li>
            </ul>
          </li>
        <% else %>
          <li><%=link_to(tr("Login"), "/login")%></li>
        <% end %>
      </ul>
      
    </div>
  </div>
</div>
  
<script>

!function( $ ){

  "use strict"

 /* DROPDOWN CLASS DEFINITION
  * ========================= */

  var toggle = '[data-toggle="dropdown"]'
    , Dropdown = function ( element ) {
        var $el = $(element).on('click.dropdown.data-api', this.toggle)
        $('html').on('click.dropdown.data-api', function () {
          $el.parent().removeClass('open')
        })
      }

  Dropdown.prototype = {

    constructor: Dropdown

  , toggle: function ( e ) {
      var $this = $(this)
        , selector = $this.attr('data-target')
        , $parent
        , isActive

      if (!selector) {
        selector = $this.attr('href')
        selector = selector && selector.replace(/.*(?=#[^\s]*$)/, '') //strip for ie7
      }

      $parent = $(selector)
      $parent.length || ($parent = $this.parent())

      isActive = $parent.hasClass('open')

      clearMenus()
      !isActive && $parent.toggleClass('open')

      return false
    }

  }

  function clearMenus( e ) {
    if(e && $(e.target).closest('.open').length) return;
    $(toggle).parent().removeClass('open')
  }


  /* DROPDOWN PLUGIN DEFINITION
   * ========================== */

  $.fn.dropdown = function ( option ) {
    return this.each(function () {
      var $this = $(this)
        , data = $this.data('dropdown')
      if (!data) $this.data('dropdown', (data = new Dropdown(this)))
      if (typeof option == 'string') data[option].call($this)
    })
  }

  $.fn.dropdown.Constructor = Dropdown


  /* APPLY TO STANDARD DROPDOWN ELEMENTS
   * =================================== */

  $(function () {
    $('html').on('click.dropdown.data-api', clearMenus)
    $('body').on('click.dropdown.data-api', toggle, Dropdown.prototype.toggle)
  })

}( window.jQuery )


</script>

<div class="container">
  <%=render :partial => "/layouts/flashes" %>
</div>

