  <title><%=trl("Tr8n Translation Services")%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tr8n_scripts_tag %>
