<!DOCTYPE html>
<html>
<head>
  <%=render :partial => "/layouts/head" %>
  <style type="text/css">
    .settings_section {
      font-size:24px;
      border-bottom: 1px solid #ccc;
      padding:5px;
      margin-bottom:15px;
      text-align:left;
    }
    .settings_header {
      font-size:24px;
      border-bottom: 1px solid #ccc;
      padding:5px;
      margin-bottom:15px;
      font-weight:bold;
      text-align:left;
    }
    .settings_item {
      font-size:16px;
      padding:5px;
      padding-left:15px;
      text-align:left;
    }
    .selected {
      color: black !important;
    }
    td {
      text-align:left;
      padding:3px;
    }
  </style>      

</head>
<body>
  <%=render :partial => "/layouts/header" %>
  <div class="container page">
    <div class="page size1of1 mha ptl mbxl">
      <div class="shadowBox whiteBkgd pal mtl txtC" style="min-height:300px;">
        <table>
          <tr>
            <td style="width:30%;">
              <div class="settings_section"><%=tr("Account Settings") %></div>

              <div class="settings_item"><%=link_to(tr("Basic Information"), "/account/index", :class => "#{'selected' if controller.action_name == 'index'}") %></div>

              <div class="settings_item"><%=link_to(tr("Email & Password"), "/account/email_password", :class => "#{'selected' if controller.action_name == 'email_password'}") %></div>
              <div class="settings_item"><%=link_to(tr("Close Account"), "/account/close_account", :class => "#{'selected' if controller.action_name == 'close_account'}") %></div>
            </td>
            <td style="padding-left:15px;">
          
              <%= yield %>
            </td>
          </tr>
        </table>   
      </div>
    </div>        
  </div>
  <%=render :partial =>"/layouts/footer" %>
</body>
</html>
