<div class="page size1of3 mha ptl mbxl">
	<div class="shadowBox whiteBkgd pal mtl txtC">
		<h3 class="mbl strong"><%=tr("Login to #{Tr8n::Config.site_title}") %></h3>
		
			<%= form_tag(:controller=>:login, :action=>:index) do %>

					<div class="mbm">
						<%=text_field_tag :email, params[:email], :class => "xlarge h4 pam", :placeholder => trl("Email") %>
					</div>
					<div class="mbm">
						<%=password_field_tag :password, "", :class => "xlarge h4 pam", :placeholder => trl("Password")  %>
					</div>

					<button class="btn primary large fullWidth mbm"><%=tr('Login') %></button>				

					<hr class="mvm" />
					<div class="line quiet">
						<div class="unit size1of2 txtL">
							<%=link_to(tr("Forgot your password?"), "/login/forgot_password")%>
						</div>
            <div class="unit size1of2 lastUnit txtR">
              <%=tr("New user? [link: Register here].", "", :link => {:href => "/signup/index"})%>
            </div>
					</div>

			<% end %>
		
	</div>
</div>


