<div class="page size1of3 mha ptl mbxl">
  <div class="shadowBox whiteBkgd pal mtl txtC">
    <h3 class="mbl strong"><%=tr('Sign Up') %></h3>
      <%=form_tag({}, {:method => :post}) do %> 
          <div class="mbm">
            <%=text_field_tag :email, params[:email], :class => "xlarge h4 pam", :placeholder => trl("Email") %>
          </div>

          <button class="btn primary large fullWidth mbm"><%=tr('Submit') %></button>        

          <hr class="mvm" />
          <div class="line quiet">
            <div class="unit size1of2 txtL">
            </div>
            <div class="unit size1of2 lastUnit txtR">
              <%=link_to(tr("Already have an account?"), "/login")%>
            </div>
          </div>
      <% end %>
  </div>
</div>


