<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%=trl(Tr8nClientSdk::Config.site_title)%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style>
    html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background:#fff;}
    
    body { margin: 0; font-size: 13px; line-height: 1.231; }
    
    body, button, input, select, textarea { font-family: sans-serif; color: #222; }
    
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
    address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
      
    body {font-family:Helvetica, Arial, sans-serif;color:gray;background:#fff}
    
    h1, .h1{font-size:36px; letter-spacing:-1px;line-height: 30px; font-weight:normal; font-family:'Helvetica',Arial, sans-serif;font-weight:300;color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.5)}
    h2, .h2{font-size:24px; line-height: 26px; font-weight:normal; font-family:'Helvetica',Arial,sans-serif; color:#666;font-weight:300;text-shadow:0 1px 0 rgba(255,255,255,0.1)}
    h3, .h3{font-size:18px; line-height: 26px; font-weight:normal; font-family:'Helvetica',Arial,sans-serif; color:#666;font-weight:300;text-shadow:0 1px 0 rgba(255,255,255,0.1)}

    
    p,.p {line-height: 18px;margin-bottom: 9px;}
    a, a:visited,.link {color:#16b;}
    
    strong, .strong {font-weight:bold}
    em,.em {font-style:italic;}
    code,.code {background-color: #eee;padding: 1px 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
    
    .quiet {color:#aaa}
    .normal {font-weight:normal !important; font-style: normal !important;}
      
    .txtC {text-align:center !important}
    .fltR {float:right !important}
    
    .ptn,.pvn,.pan{padding-top:0px !important}
    .pts,.pvs,.pas{padding-top:5px !important}
    .ptm,.pvm,.pam{padding-top:10px !important}
    .ptl,.pvl,.pal{padding-top:20px !important}
    .prn,.phn,.pan{padding-right:0px !important}
    .prs,.phs,.pas{padding-right:5px !important}
    .prm,.phm,.pam{padding-right:10px !important}
    .prl,.phl,.pal{padding-right:20px !important}
    .pbn,.pvn,.pan{padding-bottom:0px !important}  
    .pbs,.pvs,.pas{padding-bottom:5px !important}
    .pbm,.pvm,.pam{padding-bottom:10px !important}
    .pbl,.pvl,.pal{padding-bottom:20px !important}
    .pln,.phn,.pan{padding-left:0px !important}
    .pls,.phs,.pas{padding-left:5px !important}
    .plm,.phm,.pam{padding-left:10px !important}
    .pll,.phl,.pal{padding-left:20px !important}
    .mtn,.mvn,.man{margin-top:0px !important}
    .mts,.mvs,.mas{margin-top:5px !important}
    .mtm,.mvm,.mam{margin-top:10px !important}
    .mtl,.mvl,.mal{margin-top:20px !important}
    .mrn,.mhn,.man{margin-right:0px !important}
    .mrs,.mhs,.mas{margin-right:5px !important}
    .mrm,.mhm,.mam{margin-right:10px !important}
    .mrl,.mhl,.mal{margin-right:20px !important}
    .mbn,.mvn,.man{margin-bottom:0px !important}  
    .mbs,.mvs,.mas{margin-bottom:5px !important}
    .mbm,.mvm,.mam{margin-bottom:10px !important}
    .mbl,.mvl,.mal{margin-bottom:20px !important}
    .mln,.mhn,.man{margin-left:0px !important}
    .mls,.mhs,.mas{margin-left:5px !important}
    .mlm,.mhm,.mam{margin-left:10px !important}
    .mll,.mhl,.mal{margin-left:20px !important}
    
    
    .container {width: 960px;margin: 0 auto;}
    
    .topBar {height: 30px;overflow: visible;}
    .topBar .inner {-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding:6px 10px;color:#fff;border-bottom:solid 1px #000;border-top:solid 1px #ccc;color:#c3c9d7;text-shadow:0 1px 0 rgba(0,0,0,0.4)}
    .topBar .inner {background: #515466; /* Old browsers */background: -moz-linear-gradient(top, #515466 0%, #39404f 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#515466), color-stop(100%,#39404f)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #515466 0%,#39404f 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #515466 0%,#39404f 100%); /* Opera11.10+ */background: -ms-linear-gradient(top, #515466 0%,#39404f 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515466', endColorstr='#39404f',GradientType=0 ); /* IE6-9 */background: linear-gradient(top, #515466 0%,#39404f 100%); /* W3C */border-top:solid 1px #7F7F93;border-bottom:solid 1px #232a3a;box-shadow:0 2px 2px rgba(0,0,0,0.2)}
    .topBar .h3 {line-height:30px !important;color:#c3c9d7;vertical-align:-4px;margin-right:10px}
    
    .mastHead {position: fixed;top:0;left:0;right:0;z-index: 10000;}
    .mastHead .inner {border-width:1px 0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
    
    
    .wood {background:url('<%=asset_path('welcome/wood_bkgd.jpg')%>') #666;padding-top:60px;border-bottom:solid 1px #000}
    .map {margin-bottom:-70px}
    .copy {line-height:22px;font-size:18px;margin:auto;}
    
    .email_form {background:rgba(0,0,0,0.1);border-radius:3px;padding:10px;display:inline-block;margin-bottom:30px;}
    .email_form input {width:300px;box-shadow:inset 2px 2px rgba(0,0,0,0.1);padding:8px 5px;font-size:14px;border-radius:2px;border:solid 1px #aaa;margin:0}
    
    .btn {padding:8px 15px;font-size:13px;border-radius:2px;border:solid 1px #717373;margin:0;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.5);background:#0090ff;border-color:#0768b3;color:#fff;cursor:pointer;-webkit-transition: background 0.15s linear;font-size:14px}
    .btn:hover {background:#35a3ff;border-color:#1289e6;color:#fff;}
    
    .marker {opacity:0;background:#fff;padding:8px 10px 7px;border-radius:5px;position:absolute;font-weight:bold;font-size:16px;color:#444;box-shadow:0 1px 3px rgba(0,0,0,0.9);}
    .marker:after  {content: ' ';position: absolute;width: 0;height: 0;left: 10px;top: 32px;border: 5px solid;border-color:  #fff  #fff transparent transparent ;} 
    
    .marker img {vertical-align:0;margin-right:3px}
    
    .markers .us {top:125px;left:220px}
    .markers .br {top:205px;left:310px}
    .markers .fr {top:77px;left:430px}
    .markers .cn {top: 122px;left: 572px;}
    .markers .jp {top: 127px;left: 646px;}
    .markers .es {top: 92px;left: 413px;}
    .markers .ru {top: 66px;left: 559px;}
    .markers .de {top: 66px;left: 445px;}
    .markers .za {top: 219px;left: 476px;}

      
    .languages a {text-decoration:none;color:#666;padding:0 5px;font-size:11px;}
    .languages a:hover {color:#16b}
    .languages img {vertical-align:-2px;margin-right:3px}
  </style>

</head>

<body>


  <div class="module topBar mastHead">
    <div class="inner">
      <div class="container">
        <div class="fltR pas">
          <a href="http://www.facebook.com/pages/Tr8n-Translation-Engine/138407706218622" class="mrs"><%=image_tag('welcome/fb_icon.png')%></a>
          <a href="http://twitter.com/Tr8nHub" class="mrs"><%=image_tag('welcome/tw_icon.png')%></a>
          <a href="http://www.linkedin.com/groups/Internationalizing-your-application-using-Tr8n-4090552?gid=4090552"><%=image_tag('welcome/li_icon.png')%></a>
        </div>
        <span class="h3">tr8n</span>
      </div>
    </div> 
  </div>  
  
  <div class="wood">
    <div class="container txtC ptl">
      <h1><%=tr(Tr8nClientSdk::Config.site_title) %></h1>
      <div class="mtm" style="position:relative">
        <div class="markers">
          <div class="marker left us"><%=image_tag(Tr8nClientSdk::Config.url_for('/assets/tr8n/flags/en-US.png'))%> Welcome</div>
          <div class="marker left br"><%=image_tag(Tr8nClientSdk::Config.url_for('/assets/tr8n/flags/br.png'))%> Bem-vindos</div>
          <div class="marker right jp"><%=image_tag(Tr8nClientSdk::Config.url_for('/assets/tr8n/flags/ja.png'))%>  ようこそ</div>
          <div class="marker right cn"><%=image_tag(Tr8nClientSdk::Config.url_for('/assets/tr8n/flags/zh.png'))%>  歡迎光臨</div>
          <div class="marker right ru"><%=image_tag(Tr8nClientSdk::Config.url_for('/assets/tr8n/flags/ru.png'))%> Добро пожаловать</div>
          <div class="marker left es"><%=image_tag(Tr8nClientSdk::Config.url_for('/assets/tr8n/flags/es.png'))%> Bienvenidos</div>
          <div class="marker left de"><%=image_tag(Tr8nClientSdk::Config.url_for('/assets/tr8n/flags/de.png'))%> Willkommen</div>
          <div class="marker left fr"><%=image_tag(Tr8nClientSdk::Config.url_for('/assets/tr8n/flags/fr.png'))%> Bienvenue</div>
          <div class="marker left za"><%=image_tag(Tr8nClientSdk::Config.url_for('/assets/tr8n/flags/af.png'))%> Welkom</div>
        </div>
        <%=image_tag('welcome/map.png', :class=>'map')%>
      </div>
    </div>
  </div>  
  <br><br><br><br>

  <div class="container pal txtC">
      <div class="size3of4 p copy">
        <p class="mbl">
          <h2><%=tr("Join [bold: tr8n] and help us translate the site.") %></h2>
          <h3><%=tr("Give us your email address and we’ll email you a temporary password.") %></h3>
        </p>
        <%=form_tag({:controller => :signup, :action => :index}, {:class=>"email_form", :method => :post}) do %> 
          <input name="email" placeholder="<%=trl('Enter your email address...') %>"/>
          <button class="btn"><%=tr("Submit") %></button>
        <% end %>
      </div>

      <div style="margin-bottom:40px;">
        <%=link_to(tr("Already have an account?"), "/login") %>
      </div>

      <% langs = ['en-US', 'es', 'de', 'ru', 'fr'].collect{ |locale| tr8n_language_name_tag(Tr8nClientSdk::Language.for(locale), {:name => :native}) } %>
      <div class="languages">
        <%= raw(langs.join(" |&nbsp;&nbsp; ")) %>
      </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script>
    var countries = ['us','br','de','cn','za','jp','fr','ru','es'],
        current_country = 0,
        total = countries.length,
        show_count = 2,
        next = 0,
        delay = 2000;
    
    var run = function() {
      next = current_country - show_count;
      (next >= 0) || (next = total + next);
      $('.marker.'+countries[current_country]).each(function() {
        $(this)
          .css('margin-top', '-200px')
          .animate(
            {
              'margin-top': '0px',
              'opacity':'1'
            }, 400, 'easeOutBounce'
          );
      });
      
      $('.marker.'+countries[next]).each(function() {
        $(this)
          .css('margin-top', '0px')
          .animate(
            {
              'margin-top': '-400px',
              'opacity':'0'
            }, 400, 'easeOutBounce'
          );
      }).delay(delay).queue(function(next){
        current_country = (current_country >= countries.length-1) ? 0 : current_country+1;
        run();
        next()
      })
    }
    run();
  </script>
</body>
</html>
