<div class="settings_header"><%=tr("Email & Password") %></div>

<%=form_tag({}, {:method => :post}) do %>

<div style="padding-left:20px; border-bottom:1px solid #eee; padding-bottom:20px; margin-bottom:20px;">
  <table>
    <tr>
      <td style="font-weight:bold;padding-right:10px;width:150px;">
        <%=tr("Email Address") %>
      </td>  
      <td>
        <%=current_user.email%>
      </td>  
    </tr> 
  </table>  
</div>  

<div style="padding-left:20px;padding-bottom:20px; margin-bottom:20px;">
  <table>
    <tr>
      <td style="font-weight:bold;padding-right:10px; width:150px;">
        <%=tr("Change Password") %>
      </td>  
      <td>
        <% if current_user.password_set? %>
          <div style="padding-bottom:5px;"><%=tr("Enter Current Password:") %></div>
          <%=password_field_tag(:current_password, "") %>
        <% end %>

        <div style="padding-bottom:5px;padding-top:5px;"><%=tr("Type New Password:") %></div>
        <%=password_field_tag(:new_password, "") %>

        <div style="padding-bottom:5px;padding-top:5px;"><%=tr("Confirm New Password:") %></div>
        <%=password_field_tag(:confirm_new_password, "") %>
      </td>  
    </tr> 
  </table>  
</div>  

<div style="text-align:center; border-top:1px solid #ccc; background-color: #eee; padding-top:5px;">
  <button class="btn primary medium mbm"><%=tr('Save Changes') %></button>        
  <%=tr("or") %>
  <%=link_to(tr("Cancel"), "/") %>
</div>
<% end %>