<div class="settings_header"><%=tr("Basic Information") %></div>

<%=form_tag({}, {:method => :post, :multipart => true}) do %>

<div style="padding-left:20px; border-bottom:1px solid #eee; padding-bottom:20px; margin-bottom:20px;">
  <table>
    <tr>
      <td style="font-weight:bold;padding-right:10px;width:100px;vertical-align:middle;">
        <%=tr("Name") %>
      </td>  
      <td>
        <%=text_field_tag(:name, current_user.name, :placeholder => "Full name (required)") %>
        <span style="color:#888;padding-left:10px;"> *shared with other translators</span>
      </td>  
    </tr> 
    <tr>
      <td style="font-weight:bold;padding-right:10px;width:150px;padding-top:15px;">
        <%=tr("Photo") %>
      </td>  
      <td style="padding-top:10px;">
        <%=image_tag(current_user.mugshot(:medium), :style=>"max-width:120px; max-height: 120px; border: 1px solid #ccc; padding:3px;") %>
      </td>  
    </tr> 
    <tr>
      <td style="font-weight:bold;padding-right:10px;width:150px;padding-top:15px;">
        <%=tr("Gender") %>
      </td>  
      <td style="padding-top:15px;vertical-align:middle">
        &nbsp;
        <%=radio_button_tag(:gender, "male", current_user.gender == 'male')%> <%=tr("Male") %>
        &nbsp;&nbsp;
        <%=radio_button_tag(:gender, "female", current_user.gender == 'female')%> <%=tr("Female") %>
      </td>  
    </tr> 

  </table>  
</div>  

<div style="text-align:center; border-top:1px solid #ccc; background-color: #eee; padding-top:5px;">
  <button class="btn primary medium mbm"><%=tr('Save Changes') %></button>        
  <%=tr("or") %>
  <%=link_to(tr("Cancel"), "/") %>
</div>
<% end %>